{% extends "base.html" %}

{% block breadcrumb %}
    {{ block.super }}
    {% load breadcrumb_tags %}
    {% add_crumb news.category.category_name 'news:categorynews' news.category  %}
    {% add_crumb news.title 'news:detailnews' news.category news.id  news.title %}
    {% add_crumb 'แก้ไขข่าว' 'news:editnews' news.category news.id news.title  %}
{% endblock %}

{% block content %}
<br/>
    <form enctype="multipart/form-data" method="post">

    {% csrf_token %}

    {{ form.title.label_tag  }} {{ form.title.errors  }} {{ form.title }}
    {{ form.stitle.label_tag  }}  {{ form.stitle.errors  }} {{ form.stitle }}
    {{ form.description.label_tag  }} {{ form.description.errors  }}  {{ form.description }}
    {{ form.image.label_tag  }} 
    <img src="{{ MEDIA_URL}}{{ news.newsimage }}" class="img_preview" > {{ form.image.errors  }} {{ form.image }}
    {{ form.category.label_tag  }} {{ form.category.errors  }}  {{ form.category }}
    <br/>
    <button class="btn btn-lg btn-primary btn-block"  type="submit">แก้ไขข่าว</button><br/>
    {% if error_message %}<p style="color:red"><strong>{{ error_message }}</strong></p>{% endif %}
  </form>
{% endblock %}